
*{
    padding:0;
    margin:0;
}


.pre-header{
    background-color:white;
    height: 140px;
    margin-top: 15px;
    font-size:30px;
    color:#000;
    border-bottom: 0.6px solid #ccc;
    padding-bottom:5px;


}

.pre-header .topmeni li a {
    padding-left:10px;
    color:black;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;


}
.topmeni li a{
    list-style:none;

}

.topmeni li a::before{
    content:"";
    display:inline-block;
    background-image: url('../images/Untitled-2.png');
    width:17px;
    height:16px;
    margin-left: 10px;
    padding-right:10px;



}
.pre-header .topmeni li 
{  
    display: inline-block;
    font-size: 18px;
    padding-top: 55px;
    padding-left: 23px;
    margin-left: 36px;
}
.pre-header .container p {
    color:black;
    font-family: 'Orbitron', sans-serif;
    font-size: 28px;
    padding-top: 26px;

}
.pre-header img{
    margin-top: 32px;
    MARGIN-LEFT: -148px;
    height: 69px;
    width: 80px;
}

.hero-section{
    padding-top:100px;
    text-transform: uppercase;
    background-color:gainsboro;
    margin-left:200px;
    margin-right:200px;
    padding-top:70px;
    margin-top:100px;
    
}

.hero-section .container img {
    background-color:gainsboro;
    height:600px;
    margin-left:190px;

}

.hero-section .container h3{
    color: black;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 58px;
    font-weight:bold;

}

.hero-section .container h4{
    color: black;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin-top: 80px;
    text-transform: none;
    word-spacing: 15px;
    font-size: 22px;
    font-weight:lighter;
}


.sredina .container p{
    color: black;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 30px;
    padding-top:73px;

}

.footer .container p {
    background-color: white;
    height: 140px;
    margin-top: 15px;
    font-size: 15px;
    color: #000;
    text-align: left;
    display: block;
    width: 200%;
    padding-top: 42px;
    border-top: 1px solid #ccc;
    padding-bottom: 140px;
}

.footer .container img {
    height:15px;
    width:15px;

}

.footer p:before {
  content: "@";
  position: absolute;
  left: 0;
}

.lokacija{
    display:flex;
    justify-content:center;
}

.lokacija .col-md-12 {
    margin-top: 100px;
}
.lokacija h5{
    color: black;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 46px;
    text-transform: none;
    word-spacing: 10px;
    font-size: 22px;
    font-weight:lighter;
    
}

.lokacija h1{
    color: black;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 46px;
    text-transform: none;
    word-spacing: 10px;
    font-weight:lighter;
    
}

.lokacija img{
    padding-top:50px;
    width: 820px;
    height:920px;
    padding-bottom: 120px;
    display:block;
    margin:auto;
    
}

.kontakt img{

    width:50px;
    height:50px;
}

.kontakt h1{
    padding-top:100px;
    color: black;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 30px;
}

.kontakt h2{
    padding-top:100px;
    color: black;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 20px;
}


.ponuda p{
    padding-top:100px;
    color: black;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 30px;

}

.ponuda h1{
    padding-bottom:50px;
    font-family: 'Orbitron', sans-serif;
    text-align:center;
    padding-top:50px;
}

.ponuda img{
    width: 500px;
    height: 600px;
    display:block;
    margin:auto;
}


.ponuda .group {
    border:solid 1px #ccc;
    padding:5px;
}
.ponuda .group img {
    width: 50px;
    height: 44px;


}